/*Navbar*/

.navbar-default {
	background-image: none;
	margin-bottom: 0;
}

/*Sections*/

.section-heading {
	margin-bottom: 25px;
}

.custom-chart {
	margin-bottom: 40px;
}

.section {
	border-bottom: 1px solid #e6e6e6;
	padding: 30px 0;
	margin-top: 10px;
}

.section-paragraph {
	font-size: 14px;
	padding: 10px 0;
}

/*Specific stylings*/

span .fas .fa-arrow-circle-down {
	font-size: 22px;
	color: red;
}

/*Links*/


a.btn{
	background-color: red;
	margin-top: 5px;
	text-align: center;
	text-decoration: none;
}

a {
	text-decoration: none;
}

/*media queries*/

@media (min-width: 767px) {
	.section-paragraph {
		font-size: 18px;
	}
}
